<div *ngIf="isDeleted" class="alert alert-danger alert-dismissible fade show" role="alert">
  User {{ deletedUserId }} deleted successfully
  <button type="button" class="btn-close" (click)="clearDeleteAlert()" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<table>
  <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let user of users" class=" py-3">
    <td>{{ user.id }}</td>
    <td>{{ user.firstName }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.age }}</td>
    <td class="">
      <a class=" btn btn-outline-secondary me-2"  routerLink="{{ '/edit-user/'+user.id }}">
        Edit
      </a>
      <a class=" btn btn-outline-secondary me-2"  routerLink="{{ '/user-detail/'+user.id }}">
        Detail
      </a>
      <button (click)="deleteUser(user.id)" class=" btn btn-outline-secondary me-2">
        Delete
      </button>
    </td>
  </tr>
</table>

